<h1>Search Spotify</h1>
<!--TODO: bind input's model to searchString-->
<input [(ngModel)]="searchString" (keyup.enter)="search()">
<!--TODO: bind select's model to searchCategory-->
<!--TODO: loop over searchCategories to create dropdown options-->
<!--populate body and text value https://www.w3schools.com/tags/att_option_selected.asp-->

<select class='select-option' required [(ngModel)]='searchCategory'>
		<option class='option' *ngFor='let option of searchCategories' [value]="option">{{option}}</option>
</select>

<!--TODO: Call search function when the button is clicked-->
<button class="btn btn-light"  (click)="search()">Search</button>
<!--TODO: Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->
<!--TODO: Display a track-list component if searching for a track. Bind track-list's tracks.-->
<app-carousel *ngIf="searchCategory == 'artist'" [resources]="resources" carouselId="Artist"></app-carousel>
<app-carousel *ngIf="searchCategory == 'album'" [resources]="resources" carouselId="Album"></app-carousel>
<app-track-list *ngIf="searchCategory == 'track'" [tracks]="resources"></app-track-list>